body {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    background-image: url(/resources/Website_Background_Design.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;


}

.menu{
    height: 3%;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

ul li a:hover {
    color: #a00ff5;
}

@media screen and (max-width: 768px) {
    .wrapper {
        background-size: 100% auto;
    }
}